<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

      <div class="create-blog content">
        <form action="/login" method="POST">
          <label for="title">Email:</label>
          <input type="text" id="email" name="email">
          <label for="password">Password:</label>
          <input type="text" id="password" name="password">
          <button>Login</button>
        </form>
      </div>
<%- include('./partials/footer.ejs') %>

</body>
</html>